body{
background-size: cover;
background-position:center;
}
.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
#start,#number_of_objects{
font-size:18px;
}
canvas{
    border:2px solid white;
    border-radius:10px;
    margin-top: 130px;
    box-shadow: 5px 5px 5px grey;
}
.footer{
    position:fixed;
    color: aquamarine;
    background-color:teal;
    bottom: 0;
    width: 100%;
    line-height:2;
    text-align: center;
}